<h1 class="admin__title uk-text-center uk-margin-medium-bottom">
  Shopping Cart
</h1>

<h3 class="admin__title--sub uk-text-center uk-margin-medium-bottom">
  order and return to the slopes ASAP
</h3>
<a
  href="/dashboard"
  class="uk-button uk-button-default uk-align-center admin__btn uk-button-small"
>
  Dashboard
</a>
<!--Table--><!-- ejs loop through this -->
<table
  class="uk-table uk-table-justify uk-table-divider admin__table uk-table-responsive"
>
  <thead>
    <tr>
      <th class="uk-width-small uk-text-center uk-text-secondary">Image</th>
      <th class="uk-width-small uk-text-center uk-text-secondary">Product</th>
      <th class="uk-width-small uk-text-center uk-text-secondary">Quantity</th>
      <th class="uk-width-small uk-text-center uk-text-secondary">Price</th>
      <th class="uk-width-small uk-text-center uk-text-secondary">
        Remove From Cart
      </th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach((item) => { %>
    <tr>
      <td class="uk-width-small uk-text-center">
        <img
          class="uk-preserve-width uk-border-circle"
          src="data:image/png;base64, <%= item.product.image %>"
          width="40"
          alt=""
        />
      </td>
      <td class="uk-width-small uk-text-center admin__table--text">
        <%= item.product.title %>
      </td>
      <td class="uk-width-small uk-text-center admin__table--text quantity">
        <%= item.quantity %>
      </td>
      <td class="uk-width-small uk-text-center admin__table--text price">
        <%= item.product.price %>
      </td>

      <td class="uk-width-small uk-text-center">
        <form method="POST" action="/cart/delete/<%= item.id %>">
          <input hidden value="<%= item.id %>" name="itemId" />
          <button
            type="submit"
            class="uk-button uk-button-default btn__cart"
            uk-close
          ></button>
        </form>
      </td>
    </tr>
    <% }) %>
    <tr>
      <td class="uk-width-small uk-text-center"></td>
      <td class="uk-width-small uk-text-center"></td>
      <td class="uk-width-small uk-text-center admin__table--text">
        Total Price:
      </td>
      <td
        id="total"
        class="uk-width-small uk-text-center admin__table--text"
      ></td>
      <td class="uk-width-small uk-text-center">
        <form method="POST" action="#">
          <button
            id="btn__checkout"
            type="submit"
            class="uk-button uk-button-default"
          >
            Checkout<span class="uk-margin-small-left" uk-icon="cart"></span>
          </button>
        </form>
      </td>
    </tr>
  </tbody>
</table>
